<div class="row">
	<div class="col-md-4">
		<h4>Search tips</h4>
		<p>
			Enter keywords/ISSN number to search for the exact Journal/Article you are looking for.
		</p>

	</div>
	<div class="col-md-4">
		<h4>Library holdings</h4>
		The contents available here are from journals with public accessibility. The library provides current summary holdings for each subscription or hybrid journal. Many subscription, and hybrid journals especially, provide certain articles free of charge. It is not possible for us to identify them beforehand and they might appear as unavailable.
        Most are free of charge for all journals available here.
	</div>
	<div class="col-md-4">
		<h4>About</h4>
		<p>


            This is the largest free collection of scholarly journals from more than 28,000 journals including
            both subscription based as well as Open Access and hybrid journals.
            A leading global scientific, technical and medical academic resources website, providing researchers in
            academia and scientific institutions with quality content through innovative informations.
            It has one of the strongest research collections and archives,
            as well as a comprehensive range of hybrid and open access journals.
            This platform is part of <a class="dotted"
                                        href="http://www.projecttopics.org">ProjectTopics.org</a>, a publisher that serves and supports academics globally.
            We aim to advance discovery by publishing robust and insightful science, supporting the development
            of new areas of research and making ideas and knowledge accessible for students around the world.

		</p>
	</div>

</div>